:root {
  --comment-font-family: "Roboto", sans-serif;
}

commentary-container {
  background-color: rgb(15, 15, 15);
  font-family: var(--comment-font-family);
  padding: 12px;
  border-radius: 8px;
}

/* to target the comment render component */

/* 
#comment-render {} 
*/
